# Download data and inspect data

In [1]:
!mkdir data
!wget "http://www.iro.umontreal.ca/~lisa/datasets/profiledata_06-May-2005.tar.gz" -P data

--2018-05-08 01:16:49--  http://www.iro.umontreal.ca/~lisa/datasets/profiledata_06-May-2005.tar.gz
Resolving www.iro.umontreal.ca (www.iro.umontreal.ca)... 132.204.26.36
Connecting to www.iro.umontreal.ca (www.iro.umontreal.ca)|132.204.26.36|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 135880312 (130M) [application/x-gzip]
Saving to: ‘data/profiledata_06-May-2005.tar.gz’

profiledata_06-May- 100%[===================>] 129.58M  88.5MB/s    in 1.5s

2018-05-08 01:16:50 (88.5 MB/s) - ‘data/profiledata_06-May-2005.tar.gz’ saved [135880312/135880312]

In [2]:
!ls

csds-material  HW6.ipynb	      hw6.py	  spark-2.3.0-bin-hadoop2.7
data	       hw6-local-Copy1.ipynb  miniconda3

In [3]:
!tree data -hs

data
└── [130M]  profiledata_06-May-2005.tar.gz

0 directories, 1 file

In [4]:
!tar -xf "data/profiledata_06-May-2005.tar.gz" -C data

In [5]:
!tree data -hs

data
├── [4.0K]  profiledata_06-May-2005
│   ├── [2.8M]  artist_alias.txt
│   ├── [ 53M]  artist_data.txt
│   ├── [1.2K]  README.txt
│   └── [407M]  user_artist_data.txt
└── [130M]  profiledata_06-May-2005.tar.gz

1 directory, 5 files

In [6]:
!cat data/profiledata_06-May-2005/README.txt

Music Listening Dataset
Audioscrobbler.com
6 May 2005
--------------------------------

This data set contains profiles for around 150,000 real people
The dataset lists the artists each person listens to, and a counter
indicating how many times each user played each artist

The dataset is continually growing; at the time of writing (6 May 2005)
Audioscrobbler is receiving around 2 million song submissions per day

We may produce additional/extended data dumps if anyone is interested
in experimenting with the data.

Please let us know if you do anything useful with this data, we're always
up for new ways to visualize it or analyse/cluster it etc :)


License
-------

This data is made available under the following Creative Commons license:
http://creativecommons.org/licenses/by-nc-sa/1.0/


Files
-----

user_artist_data.txt
    3 columns: userid artistid playcount

artist_data.txt
    2 columns: artistid artist_name

artist_alias.txt
    2 columns: badid, goodid
    known incorrectly spelt artists and the correct artist id.
    you can correct errors in user_artist_data as you read it in using this file
    (we're not yet finished merging this data)


Contact Info
------------
rj@audioscrobbler.com
irc://irc.audioscrobbler.com/audioscrobbler

In [9]:
!echo "check user_artist_data.txt"
!head -n 3 data/profiledata_06-May-2005/user_artist_data.txt
!echo ""
!echo "line count:"
!wc -l data/profiledata_06-May-2005/user_artist_data.txt

check user_artist_data.txt
1000002 1 55
1000002 1000006 33
1000002 1000007 8

line count:
24296858 data/profiledata_06-May-2005/user_artist_data.txt

In [10]:
!echo "check artist_data.txt"
!head -n 3 data/profiledata_06-May-2005/artist_data.txt
!echo ""
!echo "line count:"
!wc -l data/profiledata_06-May-2005/artist_data.txt

check artist_data.txt
1134999	06Crazy Life
6821360	Pang Nakarin
10113088	Terfel, Bartoli- Mozart: Don

line count:
1848579 data/profiledata_06-May-2005/artist_data.txt

In [11]:
!echo "check artist_alias.txt"
!head -n 3 data/profiledata_06-May-2005/artist_alias.txt
!echo ""
!echo "line count:"
!wc -l data/profiledata_06-May-2005/artist_alias.txt

check artist_alias.txt
1092764	1000311
1095122	1000557
6708070	1007267

line count:
193027 data/profiledata_06-May-2005/artist_alias.txt

# Build Spark Data Frames

In [12]:
# make sure pyspark tells workers to use python3 not 2 if both are installed
import os
os.environ['PYSPARK_PYTHON'] = '/home/augustinus/miniconda3/bin/python'

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession \
    .builder \
    .appName("Recommender") \
    .config('spark.executor.memory','8G') \
    .config('spark.driver.memory','16G')\
    .config('spark.driver.maxResultSize','16G')\
    .getOrCreate()

Create user_artist DataFrame

In [15]:
df_user_artist = spark.read.csv("data/profiledata_06-May-2005/user_artist_data.txt",
                                sep=' ',
                                schema='userid INT, artistid INT, playcount INT')

In [16]:
df_user_artist.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- artistid: integer (nullable = true)
 |-- playcount: integer (nullable = true)

In [17]:
df_user_artist.show(5)

+-------+--------+---------+
| userid|artistid|playcount|
+-------+--------+---------+
|1000002|       1|       55|
|1000002| 1000006|       33|
|1000002| 1000007|        8|
|1000002| 1000009|      144|
|1000002| 1000010|      314|
+-------+--------+---------+
only showing top 5 rows

Create artist DataFrame

In [19]:
df_artist = spark.read.csv("data/profiledata_06-May-2005/artist_data.txt",
                            sep='\t',
                            schema='artistid INT, artist_name STRING')
df_artist.printSchema()
df_artist.show(5)

root
 |-- artistid: integer (nullable = true)
 |-- artist_name: string (nullable = true)

+--------+--------------------+
|artistid|         artist_name|
+--------+--------------------+
| 1134999|        06Crazy Life|
| 6821360|        Pang Nakarin|
|10113088|Terfel, Bartoli- ...|
|10151459| The Flaming Sidebur|
| 6826647|   Bodenstandig 3000|
+--------+--------------------+
only showing top 5 rows

Create artist_alias DataFrame

In [22]:
df_artist_alias = spark.read.csv("data/profiledata_06-May-2005/artist_alias.txt",
                                sep='\t',
                                schema='badid INT, goodid INT')
df_artist_alias.printSchema()
df_artist_alias.show(5)

root
 |-- badid: integer (nullable = true)
 |-- goodid: integer (nullable = true)

+--------+-------+
|   badid| goodid|
+--------+-------+
| 1092764|1000311|
| 1095122|1000557|
| 6708070|1007267|
|10088054|1042317|
| 1195917|1042317|
+--------+-------+
only showing top 5 rows

In [23]:
# Register SQL Tables
df_user_artist.createOrReplaceTempView('user_artist')
df_artist.createOrReplaceTempView('artist')
df_artist_alias.createOrReplaceTempView('artist_alias')
spark.sql("show tables").show()

+--------+------------+-----------+
|database|   tableName|isTemporary|
+--------+------------+-----------+
|        |      artist|       true|
|        |artist_alias|       true|
|        | user_artist|       true|
+--------+------------+-----------+

# Preprocessing

* First, the aliases data set should be applied to convert all artist IDs to a canonical ID, if a different canonical ID exists. 
* Second, the data should be converted into Rating objects, which is the implementation’s abstraction for user-product-value data. Despite the name, Rating is suitable for use with implicit data

In [91]:
training_data=\
spark.sql("""
select userid, artistid, sum(playcount) as count
from user_artist
group by userid,artistid
""")

[Row(userid=1000002, artistid=1004315, count=1),
 Row(userid=1000002, artistid=1004395, count=1),
 Row(userid=1000002, artistid=1035248, count=17),
 Row(userid=1000002, artistid=1198, count=51),
 Row(userid=1000002, artistid=344, count=18),
 Row(userid=1000019, artistid=1000951, count=4),
 Row(userid=1000019, artistid=1004255, count=1),
 Row(userid=1000019, artistid=1004398, count=2),
 Row(userid=1000019, artistid=1063841, count=6),
 Row(userid=1000020, artistid=6663544, count=4),
 Row(userid=1000022, artistid=1000313, count=44),
 Row(userid=1000022, artistid=1000993, count=8),
 Row(userid=1000022, artistid=1001408, count=2),
 Row(userid=1000022, artistid=1001483, count=17),
 Row(userid=1000022, artistid=1002395, count=3),
 Row(userid=1000022, artistid=1004409, count=3),
 Row(userid=1000022, artistid=1066890, count=13),
 Row(userid=1000022, artistid=1238891, count=2),
 Row(userid=1000023, artistid=1160349, count=19),
 Row(userid=1000023, artistid=2007, count=14),
 Row(userid=1000023, artistid=231, count=62),
 Row(userid=1000026, artistid=4225, count=17),
 Row(userid=1000028, artistid=1002134, count=8),
 Row(userid=1000029, artistid=59, count=2),
 Row(userid=1000033, artistid=1002792, count=5),
 Row(userid=1000033, artistid=4250, count=27),
 Row(userid=1000034, artistid=5606, count=3),
 Row(userid=1000035, artistid=232, count=3),
 Row(userid=1000036, artistid=1001597, count=1),
 Row(userid=1000036, artistid=1002055, count=1),
 Row(userid=1000037, artistid=1001822, count=10),
 Row(userid=1000038, artistid=1001646, count=1),
 Row(userid=1000041, artistid=5717, count=1),
 Row(userid=1000050, artistid=1002611, count=6),
 Row(userid=1000056, artistid=1003267, count=30),
 Row(userid=1000056, artistid=2752, count=1),
 Row(userid=1000058, artistid=930, count=11),
 Row(userid=1000059, artistid=921, count=20),
 Row(userid=1000060, artistid=1495, count=1),
 Row(userid=1000060, artistid=4609, count=3),
 Row(userid=1000061, artistid=1002357, count=1),
 Row(userid=1000061, artistid=1003719, count=1),
 Row(userid=1000067, artistid=1003201, count=1),
 Row(userid=1000072, artistid=1003379, count=2),
 Row(userid=1000072, artistid=1004761, count=1),
 Row(userid=1000072, artistid=1006013, count=2),
 Row(userid=1000072, artistid=1042903, count=1),
 Row(userid=1000072, artistid=1113792, count=1),
 Row(userid=1000073, artistid=1333521, count=1),
 Row(userid=1000073, artistid=4225, count=1),
 Row(userid=1000077, artistid=599, count=2),
 Row(userid=1000079, artistid=1041765, count=1),
 Row(userid=1000079, artistid=1236878, count=1),
 Row(userid=1000082, artistid=1007026, count=2),
 Row(userid=1000082, artistid=3587, count=2),
 Row(userid=1000084, artistid=1002587, count=1),
 Row(userid=1000087, artistid=1005882, count=2),
 Row(userid=1000087, artistid=1006430, count=2),
 Row(userid=1000087, artistid=2247, count=8),
 Row(userid=1000088, artistid=1359, count=1),
 Row(userid=1000090, artistid=1001066, count=1),
 Row(userid=1000091, artistid=1008262, count=1),
 Row(userid=1000091, artistid=1079720, count=1),
 Row(userid=1000097, artistid=1001714, count=1),
 Row(userid=1000098, artistid=1000854, count=10),
 Row(userid=1000098, artistid=1004484, count=10),
 Row(userid=1000098, artistid=1014265, count=4),
 Row(userid=1000098, artistid=1017984, count=6),
 Row(userid=1000098, artistid=1040758, count=3),
 Row(userid=1000098, artistid=1241724, count=3),
 Row(userid=1000098, artistid=5724, count=8),
 Row(userid=1000098, artistid=721, count=175),
 Row(userid=1000099, artistid=1002457, count=23),
 Row(userid=1000099, artistid=1004584, count=33),
 Row(userid=1000100, artistid=1001101, count=6),
 Row(userid=1000100, artistid=1002751, count=3),
 Row(userid=1000102, artistid=1026381, count=5),
 Row(userid=1000102, artistid=2052517, count=3),
 Row(userid=1000105, artistid=1006363, count=5),
 Row(userid=1000105, artistid=1006417, count=1),
 Row(userid=1000105, artistid=1007214, count=1),
 Row(userid=1000106, artistid=1008850, count=4),
 Row(userid=1000106, artistid=1035255, count=1),
 Row(userid=1000106, artistid=1040268, count=1),
 Row(userid=1000107, artistid=1013240, count=6),
 Row(userid=1000107, artistid=1784, count=10),
 Row(userid=1000107, artistid=4471, count=22),
 Row(userid=1000109, artistid=1001277, count=2),
 Row(userid=1000109, artistid=1006270, count=125),
 Row(userid=1000109, artistid=1034539, count=2),
 Row(userid=1000109, artistid=1140899, count=1),
 Row(userid=1000109, artistid=2110774, count=20),
 Row(userid=1000109, artistid=2154863, count=2),
 Row(userid=1000111, artistid=1007576, count=2),
 Row(userid=1000111, artistid=1035729, count=20),
 Row(userid=1000111, artistid=1233219, count=2),
 Row(userid=1000112, artistid=1030322, count=1),
 Row(userid=1000112, artistid=1843, count=2),
 Row(userid=1000112, artistid=9966512, count=2),
 Row(userid=1000114, artistid=1015335, count=1),
 Row(userid=1000119, artistid=1011818, count=70),
 Row(userid=1000119, artistid=1042183, count=1),
 Row(userid=1000119, artistid=6960243, count=2),
 Row(userid=1000124, artistid=2007, count=2),
 Row(userid=1000125, artistid=1022922, count=2),
 Row(userid=1000125, artistid=2150, count=15),
 Row(userid=1000127, artistid=1015095, count=1),
 Row(userid=1000127, artistid=1018350, count=1),
 Row(userid=1000127, artistid=10442996, count=1),
 Row(userid=1000127, artistid=1279916, count=1),
 Row(userid=1000127, artistid=3950, count=3),
 Row(userid=1000127, artistid=5354, count=1),
 Row(userid=1000127, artistid=6936421, count=1),
 Row(userid=1000128, artistid=1234867, count=5),
 Row(userid=1000128, artistid=654, count=27),
 Row(userid=1000143, artistid=1009869, count=3),
 Row(userid=1000143, artistid=1076602, count=1),
 Row(userid=1000143, artistid=1266502, count=2),
 Row(userid=1000144, artistid=1007396, count=1),
 Row(userid=1000144, artistid=1018103, count=2),
 Row(userid=1000144, artistid=1331719, count=1),
 Row(userid=1000144, artistid=5096, count=1),
 Row(userid=1000145, artistid=1001779, count=1),
 Row(userid=1000145, artistid=3150, count=61),
 Row(userid=1000145, artistid=4209, count=20),
 Row(userid=1000151, artistid=1005059, count=1),
 Row(userid=1000151, artistid=1006234, count=66),
 Row(userid=1000151, artistid=1006337, count=33),
 Row(userid=1000151, artistid=1131429, count=1),
 Row(userid=1000154, artistid=1009551, count=1),
 Row(userid=1000158, artistid=5479, count=1),
 Row(userid=1000159, artistid=1019724, count=2),
 Row(userid=1000159, artistid=1039416, count=2),
 Row(userid=1000159, artistid=1192806, count=1),
 Row(userid=1000159, artistid=1333431, count=2),
 Row(userid=1000159, artistid=827, count=8),
 Row(userid=1000166, artistid=1010528, count=2),
 Row(userid=1000166, artistid=2073221, count=42),
 Row(userid=1000166, artistid=3850, count=1),
 Row(userid=1000166, artistid=6877437, count=3),
 Row(userid=1000169, artistid=1008941, count=1),
 Row(userid=1000171, artistid=1020990, count=9),
 Row(userid=1000171, artistid=1030123, count=4),
 Row(userid=1000171, artistid=1041900, count=2),
 Row(userid=1000171, artistid=1293627, count=1),
 Row(userid=1000172, artistid=4483, count=1),
 Row(userid=1000173, artistid=1011759, count=1),
 Row(userid=1000176, artistid=1000427, count=6),
 Row(userid=1000176, artistid=1003592, count=1),
 Row(userid=1000176, artistid=1010499, count=73),
 Row(userid=1000178, artistid=6660339, count=1),
 Row(userid=1000180, artistid=1004451, count=6),
 Row(userid=1000180, artistid=1009058, count=19),
 Row(userid=1000180, artistid=1011473, count=5),
 Row(userid=1000180, artistid=1011717, count=3),
 Row(userid=1000180, artistid=1042191, count=5),
 Row(userid=1000180, artistid=1075779, count=3),
 Row(userid=1000180, artistid=1092115, count=5),
 Row(userid=1000180, artistid=1133161, count=4),
 Row(userid=1000180, artistid=1262, count=2),
 Row(userid=1000180, artistid=1298337, count=3),
 Row(userid=1000180, artistid=3175, count=11),
 Row(userid=1000180, artistid=5690, count=4),
 Row(userid=1000180, artistid=82, count=3),
 Row(userid=1000196, artistid=1006348, count=3),
 Row(userid=1000197, artistid=1004294, count=199),
 Row(userid=1000197, artistid=4462, count=50),
 Row(userid=1000199, artistid=1002515, count=1),
 Row(userid=1000199, artistid=1011398, count=1),
 Row(userid=1000199, artistid=1013471, count=20),
 Row(userid=1000199, artistid=1022172, count=37),
 Row(userid=1000199, artistid=1023276, count=131),
 Row(userid=1000199, artistid=1030302, count=85),
 Row(userid=1000199, artistid=1158, count=17),
 Row(userid=1000199, artistid=1204500, count=2),
 Row(userid=1000199, artistid=1238099, count=1),
 Row(userid=1000199, artistid=1297901, count=6),
 Row(userid=1000199, artistid=2121553, count=2),
 Row(userid=1000199, artistid=223, count=58),
 Row(userid=1000200, artistid=1007569, count=16),
 Row(userid=1000200, artistid=1270, count=1),
 Row(userid=1000201, artistid=1015155, count=1),
 Row(userid=1000202, artistid=1068630, count=2),
 Row(userid=1000206, artistid=1002458, count=3),
 Row(userid=1000206, artistid=1195, count=1),
 Row(userid=1000208, artistid=5793, count=7),
 Row(userid=1000215, artistid=1194, count=4),
 Row(userid=1000217, artistid=1239371, count=1),
 Row(userid=1000218, artistid=1008313, count=1),
 Row(userid=1000220, artistid=1008354, count=124),
 Row(userid=1000220, artistid=1076646, count=2),
 Row(userid=1000221, artistid=2171, count=1),
 Row(userid=1000222, artistid=4021, count=1),
 Row(userid=1000225, artistid=1002216, count=1),
 Row(userid=1000231, artistid=1255698, count=5),
 Row(userid=1000231, artistid=231, count=13),
 Row(userid=1000231, artistid=979, count=29),
 Row(userid=1000232, artistid=1008948, count=4),
 Row(userid=1000232, artistid=1019224, count=1),
 Row(userid=1000232, artistid=1023864, count=1),
 Row(userid=1000236, artistid=1236976, count=3),
 Row(userid=1000238, artistid=1017816, count=2),
 Row(userid=1000239, artistid=1057166, count=4),
 Row(userid=1000239, artistid=10678143, count=5),
 Row(userid=1000239, artistid=2031000, count=2),
 Row(userid=1000239, artistid=5698, count=2),
 Row(userid=1000239, artistid=7030947, count=1),
 Row(userid=1000241, artistid=1017893, count=1),
 Row(userid=1000245, artistid=1017588, count=1),
 Row(userid=1000246, artistid=1383, count=4),
 Row(userid=1000248, artistid=1001770, count=1),
 Row(userid=1000248, artistid=1001842, count=601),
 Row(userid=1000248, artistid=10064219, count=17),
 Row(userid=1000248, artistid=1009343, count=1609),
 Row(userid=1000248, artistid=1010072, count=1),
 Row(userid=1000248, artistid=1188294, count=1),
 Row(userid=1000250, artistid=1169, count=2),
 Row(userid=1000253, artistid=1009365, count=2),
 Row(userid=1000256, artistid=1003, count=2),
 Row(userid=1000256, artistid=1009650, count=6),
 Row(userid=1000256, artistid=1012381, count=1),
 Row(userid=1000260, artistid=1000139, count=2),
 Row(userid=1000260, artistid=1002686, count=1),
 Row(userid=1000260, artistid=1032165, count=15),
 Row(userid=1000260, artistid=1033729, count=6),
 Row(userid=1000260, artistid=615, count=9),
 Row(userid=1000261, artistid=1008583, count=5),
 Row(userid=1000261, artistid=1010661, count=4),
 Row(userid=1000261, artistid=1096162, count=1),
 Row(userid=1000261, artistid=1115234, count=1),
 Row(userid=1000267, artistid=1190, count=137),
 Row(userid=1000267, artistid=2073207, count=5),
 Row(userid=1000271, artistid=1034660, count=1),
 Row(userid=1000272, artistid=1016551, count=1),
 Row(userid=1000272, artistid=1107627, count=1),
 Row(userid=1000272, artistid=1237052, count=1),
 Row(userid=1000274, artistid=1100, count=2),
 Row(userid=1000274, artistid=1140235, count=2),
 Row(userid=1000274, artistid=1151250, count=5),
 Row(userid=1000274, artistid=1248781, count=1),
 Row(userid=1000274, artistid=5278, count=5),
 Row(userid=1000275, artistid=1004924, count=1),
 Row(userid=1000275, artistid=1854, count=47),
 Row(userid=1000275, artistid=2799, count=1),
 Row(userid=1000280, artistid=1003101, count=1),
 Row(userid=1000280, artistid=2128160, count=1),
 Row(userid=1000282, artistid=1045823, count=2),
 Row(userid=1000285, artistid=1289, count=1),
 Row(userid=1000286, artistid=4735, count=2),
 Row(userid=1000286, artistid=4971, count=1),
 Row(userid=1000288, artistid=1003159, count=306),
 Row(userid=1000288, artistid=1235753, count=23),
 Row(userid=1000288, artistid=1341912, count=8),
 Row(userid=1000288, artistid=2169422, count=3),
 Row(userid=1000288, artistid=3148, count=2),
 Row(userid=1000288, artistid=857, count=14),
 Row(userid=1000295, artistid=1307, count=1),
 Row(userid=1000296, artistid=1233196, count=1),
 Row(userid=1000301, artistid=1013892, count=8),
 Row(userid=1000301, artistid=1019201, count=3),
 Row(userid=1000301, artistid=6704587, count=3),
 Row(userid=1000302, artistid=1030171, count=1),
 Row(userid=1000302, artistid=5837, count=2),
 Row(userid=1000302, artistid=721, count=1),
 Row(userid=1000305, artistid=1049777, count=5),
 Row(userid=1000307, artistid=1011178, count=4),
 Row(userid=1000307, artistid=1065141, count=7),
 Row(userid=1000308, artistid=1028990, count=1),
 Row(userid=1000308, artistid=463, count=3),
 Row(userid=1000312, artistid=1008751, count=4),
 Row(userid=1000313, artistid=4496, count=8),
 Row(userid=1000315, artistid=1014893, count=1),
 Row(userid=1000316, artistid=1009656, count=8),
 Row(userid=1000316, artistid=1030064, count=2),
 Row(userid=1000316, artistid=1075956, count=1),
 Row(userid=1000321, artistid=1002969, count=1),
 Row(userid=1000321, artistid=1006320, count=1),
 Row(userid=1000325, artistid=1235941, count=1),
 Row(userid=1000327, artistid=1014118, count=2),
 Row(userid=1000327, artistid=1027142, count=18),
 Row(userid=1000327, artistid=3918, count=6),
 Row(userid=1000327, artistid=6640261, count=1),
 Row(userid=1000328, artistid=1012657, count=1),
 Row(userid=1000330, artistid=59, count=9),
 Row(userid=1000331, artistid=1000557, count=1),
 Row(userid=1000331, artistid=1001529, count=2),
 Row(userid=1000334, artistid=1004129, count=1),
 Row(userid=1000341, artistid=1010304, count=2),
 Row(userid=1000342, artistid=4471, count=1),
 Row(userid=1000345, artistid=1066043, count=9),
 Row(userid=1000345, artistid=5055, count=9),
 Row(userid=1000346, artistid=1011430, count=1),
 Row(userid=1000346, artistid=1015347, count=8),
 Row(userid=1000346, artistid=1114875, count=20),
 Row(userid=1000346, artistid=1234389, count=15),
 Row(userid=1000348, artistid=1009999, count=2),
 Row(userid=1000349, artistid=1000196, count=10),
 Row(userid=1000349, artistid=54, count=1),
 Row(userid=1000352, artistid=1012641, count=3),
 Row(userid=1000355, artistid=1143583, count=4),
 Row(userid=1000355, artistid=1270122, count=1),
 Row(userid=1000356, artistid=1032797, count=2),
 Row(userid=1000356, artistid=1052559, count=1),
 Row(userid=1000356, artistid=1280674, count=1),
 Row(userid=1000356, artistid=1621, count=9),
 Row(userid=1000360, artistid=15, count=1),
 Row(userid=1000363, artistid=1005708, count=168),
 Row(userid=1000375, artistid=1019469, count=43),
 Row(userid=1000375, artistid=1051944, count=1),
 Row(userid=1000375, artistid=1208157, count=33),
 Row(userid=1000375, artistid=1244513, count=1),
 Row(userid=1000375, artistid=6880483, count=1),
 Row(userid=1000375, artistid=6987143, count=2),
 Row(userid=1000380, artistid=1014457, count=2),
 Row(userid=1000380, artistid=1037932, count=1),
 Row(userid=1000385, artistid=948, count=1),
 Row(userid=1000386, artistid=1053142, count=4),
 Row(userid=1000387, artistid=1000952, count=41),
 Row(userid=1000387, artistid=2220, count=3),
 Row(userid=1000390, artistid=1008122, count=3),
 Row(userid=1000390, artistid=1014557, count=3),
 Row(userid=1000390, artistid=1234460, count=2),
 Row(userid=1000390, artistid=74, count=2),
 Row(userid=1000391, artistid=1010737, count=1),
 Row(userid=1000391, artistid=1237563, count=1),
 Row(userid=1000394, artistid=1006185, count=11),
 Row(userid=1000395, artistid=1002965, count=3),
 Row(userid=1000395, artistid=1029493, count=2),
 Row(userid=1000395, artistid=1234405, count=2),
 Row(userid=1000395, artistid=1253914, count=1),
 Row(userid=1000395, artistid=1641, count=1),
 Row(userid=1000399, artistid=2074054, count=1),
 Row(userid=1000401, artistid=1073484, count=2),
 Row(userid=1000405, artistid=1095706, count=2),
 Row(userid=1000405, artistid=4179, count=2),
 Row(userid=1000412, artistid=1145871, count=3),
 Row(userid=1000412, artistid=1262, count=90),
 Row(userid=1000412, artistid=4951, count=12),
 Row(userid=1000414, artistid=1002969, count=2),
 Row(userid=1000416, artistid=1014225, count=1),
 Row(userid=1000416, artistid=1080104, count=1),
 Row(userid=1000416, artistid=9935489, count=6),
 Row(userid=1000422, artistid=1002732, count=12),
 Row(userid=1000425, artistid=1010696, count=1),
 Row(userid=1000425, artistid=1367, count=1),
 Row(userid=1000428, artistid=1056672, count=1),
 Row(userid=1000428, artistid=1287572, count=1),
 Row(userid=1000446, artistid=1013324, count=1),
 Row(userid=1000446, artistid=10278623, count=1),
 Row(userid=1000446, artistid=1038, count=9),
 Row(userid=1000446, artistid=2753, count=1),
 Row(userid=1000446, artistid=5953, count=1),
 Row(userid=1000453, artistid=1001483, count=2),
 Row(userid=1000460, artistid=1244111, count=2),
 Row(userid=1000463, artistid=1050035, count=1),
 Row(userid=1000463, artistid=930, count=4),
 Row(userid=1000465, artistid=6922547, count=9),
 Row(userid=1000465, artistid=9964276, count=2),
 Row(userid=1000468, artistid=1336675, count=1),
 Row(userid=1000472, artistid=5705, count=1),
 Row(userid=1000475, artistid=2047, count=3),
 Row(userid=1000025, artistid=1000161, count=1),
 Row(userid=1000041, artistid=1002800, count=31),
 Row(userid=1000071, artistid=1000123, count=1),
 Row(userid=1000091, artistid=1000139, count=40),
 Row(userid=1000099, artistid=6947286, count=5),
 Row(userid=1000106, artistid=1008650, count=1),
 Row(userid=1000112, artistid=1008164, count=11),
 Row(userid=1000112, artistid=532, count=3),
 Row(userid=1000129, artistid=78, count=1),
 Row(userid=1000130, artistid=1000435, count=3),
 Row(userid=1000130, artistid=1001735, count=1),
 Row(userid=1000166, artistid=1040625, count=2),
 Row(userid=1000166, artistid=1122742, count=1),
 Row(userid=1000171, artistid=10044758, count=2),
 Row(userid=1000176, artistid=1003731, count=1),
 Row(userid=1000180, artistid=1000010, count=25),
 Row(userid=1000197, artistid=1001352, count=4),
 Row(userid=1000199, artistid=1001894, count=2),
 Row(userid=1000201, artistid=691, count=2),
 Row(userid=1000208, artistid=1001821, count=4),
 Row(userid=1000215, artistid=1302450, count=28),
 Row(userid=1000216, artistid=1008209, count=1),
 Row(userid=1000217, artistid=1000766, count=3),
 Row(userid=1000217, artistid=1641, count=15),
 Row(userid=1000217, artistid=5662, count=1),
 Row(userid=1000220, artistid=1002095, count=11),
 Row(userid=1000221, artistid=1302198, count=2),
 Row(userid=1000225, artistid=4154, count=7),
 Row(userid=1000227, artistid=1011000, count=1),
 Row(userid=1000231, artistid=1004207, count=1),
 Row(userid=1000231, artistid=1235784, count=6),
 Row(userid=1000231, artistid=1329, count=1),
 Row(userid=1000231, artistid=15, count=77),
 Row(userid=1000232, artistid=1000481, count=6),
 Row(userid=1000235, artistid=1000263, count=1),
 Row(userid=1000239, artistid=1000429, count=461),
 Row(userid=1000239, artistid=1000993, count=1),
 Row(userid=1000239, artistid=1810, count=7),
 Row(userid=1000239, artistid=2132, count=3),
 Row(userid=1000248, artistid=1011135, count=8),
 Row(userid=1000251, artistid=1007084, count=2),
 Row(userid=1000256, artistid=783, count=8),
 Row(userid=1000258, artistid=9905772, count=1),
 Row(userid=1000260, artistid=1306, count=1),
 Row(userid=1000261, artistid=1004401, count=1),
 Row(userid=1000261, artistid=1007948, count=15),
 Row(userid=1000267, artistid=189, count=3),
 Row(userid=1000268, artistid=76, count=14),
 Row(userid=1000272, artistid=857, count=2),
 Row(userid=1000274, artistid=1036627, count=1),
 Row(userid=1000274, artistid=1038833, count=3),
 Row(userid=1000280, artistid=1001008, count=1),

# Build ALS Recommender

In [36]:
spark.sql("""
select *
from user_artist
limit 1
""").show()

+-------+--------+---------+
| userid|artistid|playcount|
+-------+--------+---------+
|1000002|       1|       55|
+-------+--------+---------+

In [80]:
from pyspark.ml.recommendation import ALS

In [81]:
als = ALS(rank=50,regParam=1,alpha=40,
          userCol='userid',itemCol='artistid',ratingCol='playcount',
          seed=0,numUserBlocks=12,numItemBlocks=12)

als_recommender = als.fit(df_user_artist)
print('Model fitted')

Model fitted

In [79]:
als_recommender.save('model.bin')

ALS_46b2aa6ec589ecb23976

# Recommend top 10 Artists for user 2093760

In [86]:
user_subsets = \
    spark.sql("""
        select distinct userid
        from user_artist
        where userid in (2093760)
        """)
user_subsets.show()

+-------+
| userid|
+-------+
|2093760|
+-------+

In [87]:
recommendations = als_recommender.recommendForUserSubset(user_subsets, 10)
recommendations.printSchema()

root
 |-- userid: integer (nullable = false)
 |-- recommendations: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- artistid: integer (nullable = true)
 |    |    |-- rating: float (nullable = true)

In [88]:
recommendations.createOrReplaceTempView('recommendations')

top10 = spark.sql("""
select explode(recommendations.artistid) as artistid
from recommendations 
where userid = 2093760
""")
top10.createOrReplaceTempView('top10_recommended_artists_for_2093760')

top10_recommended_artist_names = \
spark.sql("""
select artist_name
from artist join top10_recommended_artists_for_2093760 
on artist.artistid = top10_recommended_artists_for_2093760.artistid
""")

In [89]:
top10_recommended_artist_names.show()

+--------------------+
|         artist_name|
+--------------------+
|        David Nadien|
|Firm Johnson & Th...|
|          dj antoine|
|          Prankradio|
|lil wayne ft. man...|
|            dj_beast|
|American School O...|
|Colton Jazz Ensemble|
|           DJ Kubesz|
|Wayne Hussey (Mis...|
+--------------------+